<div class="popUp reviewPopup flex_c_c">
  <div class="card_popup a_container">
  <div class="modal_header padd15-a flex_b_c">
    <div class="flex_s_c modal">
      {{#if owner.src}}
      <img class="br60 avatar" src="{{owner.src}}" alt="avatar"/>
      {{else}}
        {{>_avatar}}
      {{/if}}
      <div class="left padd10-l">
        <h5 class="ellipsis">{{owner.name}}</h5>
        <div accesskey="{{stars.default}}" class="flex_s card_stars"></div>
      </div>
    </div>
    <div class="flex_c_c br60 a_close_reviews btn_circle"><svg class="" fill="currentColor" opacity="1.0" baseProfile="full" width="24" height="24" viewBox="0 0 24.00 24.00"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg></div>
  </div>
  <div class="modal_body padd15-a">
    <p class="m5-t">{{text}}</p>
    <h5 class="a_body_time padd10-t">{{date.fullDate}}</h5>
  </div>
</div>
</div>
      