 
  <link rel="stylesheet" href="/public/css/style.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="card_t_wrap flex_c_c">
  <div class="card_t {{type}} br30 flex_c_c a_container">
    <div class="icon br60 flex_c_c">
    </div> 
    <h1>{{title}}</h1>
    <p>{{texts}}</p>
    <div class="padd10-a">
      <a class="a" href="{{redirectTo}}">
     <button class="primary-btn br4-a padd8-15">{{btnTitle}} </button>
    </div>
    </div>
  </div>
</body>