    
      <title>Termos de condições</title>
      </head>
  <body class="">
    <main class="layout">
        {{>_main-nav}}
        <header class="m-header flex_c_c a_container">
          
        </header>
          <section class="flex_c_c a_container">
      <div class="m-wraper">
        <div class="padd15-a">
          <h2>Termos de condições</h2>
          <p class="padd10-tb">Ao se registrar na plataforma, esses termos se aplicarão automaticamente a você – portanto certifique-se de lê-los cuidadosamente antes de usar a plataforma.</p>
          
          <h3 class="padd10-t">1. Direitos autorais</h3>
          <p class="padd10-tb"><b>(a)</b> - Você não tem permissão para copiar ou modificar a plataforma, qualquer parte do aplicativo ou nossas marcas registradas de forma alguma.</p>
          <p class="padd10-tb"><b>(b)</b> - Você não tem permissão para tentar extrair o código-fonte do aplicativo e também não deve tentar traduzir a plataforma para outros idiomas ou criar versões derivadas. O aplicativo em si e todas as marcas registradas, direitos autorais, direitos de banco de dados e outros direitos de propriedade intelectual relacionados a ele ainda pertencem à {{company}}.</p>

          <h3 class="padd10-t">2. Suas responsabilidades para segurança.</h3>
          <p class="padd10-tb"><b>(a)</b> - O aplicativo {{company}} armazena e processa os dados pessoais que você nos forneceu para fornecer nosso Serviço. É sua responsabilidade manter seu dispositivo e acesso ao aplicativo seguros.</p>
          <p class="padd10-tb"><b>(b)</b> - Na mesma linha, a {{company}} nem sempre pode assumir a responsabilidade pela maneira como você usa a plataforma.</p>
          <p class="padd10-tb"><b>(c)</b> - Com relação à responsabilidade da {{company}} pelo uso , quando você estiver usando a plataforma, é importante ter em mente que, embora nos esforcemos para garantir que ele esteja atualizado e correto o tempo todo, dependemos de terceiros para nos fornecer informações para que possamos disponibilizá-las para você. A {{company}} não se responsabiliza por qualquer perda, direta ou indireta, que você sofra como resultado de confiar totalmente nesta funcionalidade do aplicativo.</p>
          
          <h3 class="padd10-t">3. Contas múltiplas</h3>
          <p class="padd10-tb"><b>(a)</b> - A {{company}} está empenhada em garantir a melhor segurança no mercado tanto quanto na segurança dos dados. Por esse motivo, nos reservamos o direito de não aceitar o registro de duas contas ou mais com o mesmo e-mail ou número de telefone, qualquer suspeita de violação das regras a conta será banido.</p>
          
          <h3 class="padd10-t">4. Programa de parceiros</h3>
          <p class="padd10-tb"><b>(a)</b> - Para entrar neste programa você tem que ter no mínimo 18 anos de idade.</p>
          <p class="padd10-tb"><b>(b)</b> - Ao investir em <b>frotras</b> tenha em mente que né todos os investimentos sai como planejamos, portanto em caso de falha ou má gestão de estoques de produtos, reservamos o direito de remover a percentagem de lucro e <b>reembolsar 70%</b> do seu valor investido em três prestações no período de 3 meses.</p>
          
          <h3 class="padd10-t">5. Intermediação e Modelo de Negócio</h3>
          <p class="padd10-tb"><b>(a)</b> - O <b>{{company}}</b> atua como <b>intermediário e facilitador</b> entre <b>pequenos sócios investidores</b> (doravante denominados "<b>Usuários</b>" ou "<b>Sócios</b>") e <b>startups ou empresas em fase de crescimento</b> (doravante denominadas "<b>Empreendimentos</b>").</p>
           <p class="padd10-tb"><b>(b)</b> - Por meio da plataforma, os Usuários têm a oportunidade de participar, com aportes financeiros de valor acessível, no financiamento coletivo de Empreendimentos selecionados. O A {{company}} estrutura e viabiliza essa conexão, garantindo transparência, segurança jurídica e gestão da operação.</p>
           <p class="padd10-tb"><b>(c)</b> - Os recursos aportados pelos Usuários são destinados aos Empreendimentos conforme contrato específico. Os lucros ou rendimentos gerados pela atividade financiada serão rateados e distribuídos periodicamente, na proporção da participação de cada Usuário, após a dedução de eventuais custos operacionais e taxas de intermediação previamente acordadas e divulgadas. Dessa forma, cria-se um ciclo de benefício mútuo: os Empreendimentos recebem capital para crescer, e os Usuários participam dos resultados financeiros desse crescimento.</p>
           <p class="padd10-tb"><b>(d)</b> - O {{company}} não é uma instituição financeira, nem garante rentabilidade ou assume riscos inerentes aos investimentos, que são de responsabilidade dos Usuários e dos Empreendimentos, conforme detalhado nos Termos de Uso e nos contratos de investimento específicos.</p>
          
          <h3 class="padd10-t">6. Alterações nestes Termos e Condições</h3>
          <p class="padd10-tb"><b>(a)</b> - Podemos atualizar nossos Termos e Condições de tempos em tempos. Assim, você é aconselhado a revisar esta página periodicamente para quaisquer alterações. Iremos notificá-lo sobre quaisquer alterações publicando os novos Termos e Condições nesta página. Essas alterações entram em vigor imediatamente após serem publicadas nesta página.</p>
          <br/>
           <h3 class="padd10-t">7. Contato</h3>
          <p class="padd10-tb"><b>(a)</b> - Se você tiver alguma pergunta, preocupação relacionados aos nossos termos de condições, entre em contato conosco através dos seguintes canais: <a class="a a_default" href="/contact-us?id={{user._id}}">Suporte</a>
    
        </div>
      </div>
    </section>
  
    {{>_footer}}
 </main>