    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
  </head>
  <body>
    <main id="layout" class="layout flex_b">
      {{>_aside}}
      <section class="a_sec">
        {{>_layout-nav}}
         <div class="card_t_wrap flex_c_c">
            <div class="card_t {{type}} br30 flex_c_c a_container">
              <div class="icon br60 flex_c_c"> </div> 
              <h1>{{title}}</h1>
              <p>{{texts}}</p>
              <div class="padd10-a">
                {{#if redirectTo}}
                <a class="a" href="{{redirectTo}}">
                  <button class="primary-btn br4-a padd8-15">{{btnTitle}} </button>
                </a>
                {{else}}
                <button id="back" class="primary-btn br4-a padd8-15">{{btnTitle}} </button>
                {{/if}}
              </div>
            </div>
        </div>
      </section>
      {{>_profile}}
      <script type="text/javascript" src="/js/layout.js"></script>
    </main>
  </body>