    <link rel="stylesheet" href="/css/style.css">
    <title>Editar perfil</title>
  </head>
  <body>
    <main id="layout" class="layout flex_b">
      {{>_aside}}
      <section class="a_sec">
        {{>_layout-nav}}
        <div class="main_wrap">
         <div class="mr5-a flex_c_c padd10-a">
          <form action="/cabinet/edit-profile?_id={{user._id}}&redirectTo={{redirectTo}}" method="post" id="form" class="flex_b a_form_container br30  a_container" accept-charset="utf-8">
            <div class="form_card_a f_card">
              <h4 class="padd10-a m5-a">Editar perfil</h4>
              <div class="input_card flex_c_c">
                <div class="modal_avatar flex_c_c">
                  <div class="avatar br60 flex_c_c">
                    {{#if user.src}}
                    <img id="src_img" src="{{user.src}}" class="br60" alt="img">
                    {{else}}
                       <img id="src_img" src="/imgs/avatar.png" class="br60" alt="img">
                    {{/if}}
                    {{>_cropper-img}}
                  </div>
                </div>
              </div>
            </div>
            <div  class="form_card_b flex_b f_card">
              <div class="input_card">
                <div class="input_wrap br6-a flex_b_c">
                  <input value="{{user.name}}" class="input" id="name"  name="name" type="text"/>
                  <label for="name">Nome completo</label>
                </div>
                <div class="label_error"></div>
              </div>
              <div class="input_card">
                <div class="input_wrap br6-a flex_b_c">
                  <input disabled="" value="{{user.email}}" class="input" id="email"  name="email" type="email"/>
                  <label for="email">E-mail</label>
                </div>
                <div class="label_error"></div>
              </div>
              <div class="m5-a padd10-lr paragraph-form">Por motivos de segurança a troca de email foi desativado, se quiser trocar fala cconosco através dos nossos contatos.</div>
              <div class="input_card">
                <div class="input_wrap accountnumber br6-a flex_b_c">
                  <div  class="input_right_box flex_c_c">258</div>
                  <input value="{{user.phoneNumber}}" class="input accountnumber" id="phoneNumber"  name="phoneNumber" type="number"/>
                  <label for="phoneNumber">Telefone(opcional)</label>
                </div>
                <div class="label_error"></div>
              </div>
              <div class="m5-a padd10-lr paragraph-form">Por motivos de segurança a sua senha não é modificado nesta página por favor <a href="/auth/request-reset-password?email={{user.email}}" class="a_default">clique aqui</a> se quiser trocar! </div>
              <div class="input_card">
                <button id="submitBtn" type="button" class="br6-a primary-btn"><div id="btnText">Continuar</div>{{>_minloader}}</button>
              </div>
            </div>
          </form>
        </div>
        {{>_invite}}
        </div>
        <script type="text/javascript" src="/js/gre.js"></script>
      </section>
      {{>_profile}}
      <script type="text/javascript" src="/js/layout.js"></script>
    </main>
  </body>