
  <title>Usuaríos</title>
  </head>
  <body>
    <main id="layout" class="layout flex_b">
      {{>_aside}}
      <section class="a_sec">
        {{>_layout-nav}}
        <div class="main_wrap">
          <header class="a_sec_header padd5-lr">
            <div class="a_sec_header_wrap flex_b_c">
              <h1 class="page-title">Usuaríos</h1>
              <div  class="flex_b_c">
                <form class="flex_wrap a_selection_wrap" method="get" action="/admin/users">
                <input type="hidden" name="page" value="0"/>
                <div class="a_selection">
                  <div  class="selection a_container br6-a">
                    <div class="flex_b_c selected_wrap">
                      <div class="flex_b_c">
                        <i class="bi bi-search"> </i>
                        <input name="_id" value="" placeholder="Por ID" type="text" class="a_transactions_search"></input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="a_selection">
                  <div  class="selection a_container br6-a">
                    <div class="flex_b_c selected_wrap">
                      <div class="flex_b_c">
                        <i class="bi bi-search"> </i>
                        <input name="name" value="" placeholder="Por nome" type="text" class="a_transactions_search"></input>
                      </div>
                    </div>
                  </div>
                </div>
                {{>_userStatus}}
                 {{>_dateStatus}}
              <div class="padd5-a a_selection last">
                <button class="br6-a go primary-btn"><i class="bi bi-filter"></i></button>
              </div>
            </form>
          </div>
        </div>
        </header>
         <div class="a_container_table padd15-a">
        <div class="a_table_card a_container br6-a">
          <div class="a_table_wrap">
            <div class="a_table">
              <div class="theader flex_b_c">
                <div class="a_col user">Usuário</div>
                <div class="a_col_150">Data</div>
                 <div class="a_col_150">Saldo</div>
                <div class="a_col status">Admin</div>
                <div class="a_col_actions"></div>
              </div>
              <div class="tbody">
                {{#if datas.datas}}
                  {{#each datas.datas}}
                  <div class="row_body flex_b_c">
                  <div class="a_col user flex_s_c"> 
                 
                  <div  class="a_table_avatar">
                    <div class="avatar">
                    {{#if src}}
                    <img src="{{src}}" class="br60" alt="img">
                    {{else}}
                      {{>_avatar}}
                    {{/if}}
                    
                    {{#if isBanned}}
                      <div class="isBanned br60 flex_c_c"><i class="bi bi-exclamation"></i></div>
                      {{/if}}
                      </div>
                   </div>
                  <div>
                  <h4 class="ellipsis name">{{name}}</h4>
                  <p class="ellipsis a_col_sc">{{email}}</p>
                  </div>
                  </div>
                  <div class="a_col_150 a_col_sc">{{date.onlyDate}}</div>
                  <div class="a_col_150 a_col_sc">{{balance.numberSeparotor.b}} MZN</div>
                  <div class="a_col status"><p class="a_status {{#if isAdmin}}reactive {{/if}}"> {{#if isAdmin}} Sim {{else}} Não{{/if}} </p></div>
                  <div class="a_col_actions">
                    <div class="btn_circle flex_c_c br60">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                      <div class="a_c_menu a_container_br">
                       <a class="a" href="/admin/users/view?_id={{_id}}">
                        <div class="padd6-10 flex_s_c"><i class="bi bi-eye m5-r"></i>Ver o perfil</div>
                      </a>
                      <a class="a" href="/admin/users/edit-profile?_id={{_id}}">
                        <div class="padd6-10 flex_s_c"><i class="bi bi-pen m5-r"></i>Editar</div>
                      </a>
                      <div class="padd6-10 danger flex_s_c alertEvent"><i class="bi bi-trash m5-r"></i>Deletar</div>
                      </div>
                    </div>
                  </div>
                </div>
                  <form action="/admin/users/delete/{{_id}}" method="get" class="a_alert alertBox flex_c_c">
                    <div class="a_alert_container a_container br6-a padd10-a">
                      <div class="a_alert_header padd10-lr padd10-b">
                        <h3>Deletar {{name}}?</h3>
                      </div>
                      <div class="padd10-a">
                        <p></p>
                        <div class="a_alert_warning flex_s br4-a padd10-a">
                          <i class="bi bi-exclamation-square"></i>
                          <p>Ao deletar este usuarío deletará tambem deposítos, saques e comicões existente neste usuarío.</p>
                        </div>
                       </div>
                        <div class="a_alert_btns m5-a flex_e_c">
                          <div class="m5-a">
                            <button type="button" class="transparent-btn canselAlert br4-a">Canselar</button>
                          </div>
                          <div class="m5-a ">
                            <button class="danger-btn br4-a">Deletar</button>
                          </div>
                        </div> 
                      </div>
                    </form>
                {{/each}}
                {{else}}
                  {{>_empty_card}}
                {{/if}}
              </div>
            </div>
          </div>
        {{>_pagination}}
        </div>
      </div>
     
        </div>
      </section>
      {{>_profile}}
      <script type="text/javascript" src="/js/layout.js"></script>
    </main>